<body>
  <div class="top_image">
    <%= image_tag "top.jpg", alt: "トップ画像" %>
    <div class="top_image_right">
      <h1>シンプルなメモアプリ</h1>
      <p>簡単で便利なメモ帳</p>
      <p>機能は保存と削除だけ</p>
      <p>ユーザー登録して使ってみましょう</p>
      <div class="top_image_signin">
        <%= button_tag "新規登録" %>
        <%= button_tag "サインイン" %>
      </div>
    </div>
  </div>
  <div class="signin_modal_wrapper">
    <div class="sign_modal">

    </div>
  </div>
</body>
