<body>
  <div class="top_image">
    <%= image_tag "top.jpg", alt: "トップ画像" %>
    <div class="top_image_right">
      <h1>シンプルなメモアプリ</h1>
      <p>簡単で便利なメモ帳</p>
      <p>機能は保存と削除だけ</p>
      <p>ユーザー登録して使ってみましょう</p>
      <div class="top_image_signin">
        <div class="signup">
          <%= button_tag "新規登録" %>
        </div>
        <%= button_tag "サインイン" %>
      </div>
    </div>
  </div>
  <div class="modal_show">

    <div class="signup_modal_wrapper">
      <%= form_tag("/users/signup") do %>
      <div class="signup_modal">

        <input type="submit" id="modal_close" name="" value="閉じる">

        <input type="text" name="name" value="" placeholder="ユーザーID" spellcheck="false">
        <input type="text" name="email" value="" placeholder="email" spellcheck="false">
        <input type="password" name="password" value="" placeholder="password">
        <input type="submit" name="" value="送信">

      </div>
      <% end %>
    </div>
  </div>
<script type="text/javascript">
  $('.signup').on('click', ()=> {
    $('.modal_show').fadeIn();
  });
  $('#modal_close').on('click', ()=> {
    $('.modal_show').fadeOut();
  });
</script>
</body>
