<body>
  <div class="post_container">
    <div>
      <% @posts.each do |post| %>
        <div id="post_index">
          <%= link_to(post.content, "/posts/#{post.id}/show") %>
        </div>
      <% end %>
    </div>
  </div>
</body>
