// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_container {
  width: 500px;
  margin: 100px auto;
}

#post_index {
  background-color: #fff;
  padding: 1em;
  border: 1px solid rgb(208, 163, 76);
  display: flex;
  justify-content: space-between;
}

.show_container {
  width: 500px;
  margin: 0 auto;
}

.show_content {
  margin-top: 200px;
  background-color: #fff;
  width: 100%;
  padding: 1em;
  height: 300px;
  font-size: 1.4em;
  border: 1px solid rgb(208, 163, 76);
  outline: none;
  resize: none;
}

#update_btn {
  margin-top: 0.5em;
  text-align: center;
}

#update_submit {
  background-color: #d0a34c;
}

#post_right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
